.hero-container{
    width: 100vw;
    height: 54.583vw;
    overflow: hidden;
}
.hero-title{
    width: 58.375vw;
    overflow-wrap: normal;
    margin-left: 3.958vw;
    text-align: left;
}
.mt-80{
    margin-top: 5.556vw;
}
.gap24{
    gap: 1.667vw;
}

